---
import Layout from "~/layouts/Layout.astro";

import { authClient } from "~/lib/auth";

const headers = Astro.request.headers;

const { data } = await authClient.getSession({}, { headers });

if (!data) {
  return Astro.redirect("/login");
}

const title = "Dashboard";
const description = "Userscripts registry";
---

<Layout {title} {description}>
  <main class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Dashboard</h1>
    <p>{`Your userId is ${data.user.id}`}</p>
  </main>
</Layout>
