---
import Layout from "~/layouts/Layout.astro";

import TopBar from "~/components/TopBar.astro";

export const prerender = true;

const title = "Userscripts";
const description = "Userscripts registry";
---

<Layout {title} {description}>
  <TopBar />
  <main class="flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Userscripts</h1>
  </main>
</Layout>
